body {
  background-color: blue;
  padding: 20px;
}

.app-container {
background-color: rgb(222, 239, 248);
border-radius: 20px;
padding: 15px;
height: 96vh;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.app-content {
  margin-top: 30px;
}